---
import PageIllustration from '@/components/page-illustration.astro';
---

<section class="relative">
  <PageIllustration />
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <div class="mx-auto max-w-5xl pt-32 pb-4 md:pt-40">
      
      <div class="text-center">
        <h1
          class="font-cabinet-grotesk mb-6 border-y text-5xl font-bold [border-image:linear-gradient(to_right,transparent,--theme(--color-slate-300/.8),transparent)1] md:text-6xl"
        >
          Dědické řízení a odhady
        </h1>
      </div>

    </div>
  </div>
</section>